.mentions {
  margin: 1em 0;
}

.mentions--singleLine .mentions__control {
  display: inline-block;
  width: 130px;
}

.mentions--singleLine .mentions__highlighter {
  padding: 1px;
  border: 2px inset transparent;
}
.mentions--singleLine .mentions__input {
  padding: 1px;
  border: 2px inset;
}

.mentions--multiLine .mentions__control {
  font-size: 14px;
  font-weight: inherit;
  overflow-wrap: break-word;
}
.mentions--multiLine .mentions__highlighter {
  padding: 8px 12px;
  min-height: 80px;
}

.mentions--multiLine .mentions__input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  outline: 0;
}
.mentions--multiLine .mentions__input:focus-visible {
  outline: 2px solid rgb(148, 163, 184);
  outline-offset: 2px;
  border-radius: 8px;
}

.mentions__suggestions__list {
  background-color: white;
  width: 194px;
  border: 0;
}

.mentions__suggestions__item {
  padding: 6px 8px;
}

.mentions__suggestions__item--focused {
  background-color: #f1f5f9;
  border-radius: 6px;
}

.mentions__mention {
  position: relative;
  font-weight: 500;
  background-color: hsl(var(--secondary));
  border-radius: 4px;
  line-height: 20px;
  padding: 2px 0px;
  overflow-wrap: break-word;
}
